src/latentdragon/redisorm/redisorm-mapping.dtd

<!DOCTYPE configuration PUBLIC "-//redisorm.org//DTD Config 3.0//EN" "http://redisorm.org/dtd/redisorm-mapping.dtd">
        <!ELEMENT redisorm-mapping (class+)>

<!ELEMENT class (id,column*)>
<!ATTLIST class name CDATA #REQUIRED>

<!ELEMENT id EMPTY>
<!ATTLIST id name CDATA #REQUIRED>
<!ATTLIST id redis-name #REQUIRED>

<!ELEMENT column EMPTY>
<!ATTLIST column name CDATA #REQUIRED>
<!ATTLIST column redis-name CDATA #REQUIRED "same">